<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="icon" href="/icon.png" type="image/png" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/icon.png" />
    <%= vite_client_tag %>
    <%= vite_typescript_tag 'application' %>
    <%= vite_typescript_tag 'components' %>
  </head>
  <body>
    <%= vue_component 'GradientBackground' %>
    <%# ——— NAVBAR ——————————————————————————— %>
    <% unless @hide_navbar %>
      <%= render partial: 'shared/navbar' %>
    <% end %>

    <%# ——— CONTENEUR PRINCIPAL ———————————————— %>
  <div class="flex min-h-screen">
      <% unless @hide_sidebar %>
      <aside class="flex-shrink-0">
        <%= render partial: 'shared/sidebar' %>
      </aside>
      <% end %>

    <!-- Zone de contenu principal centré -->
    <main class="flex-1 flex flex-col">

      <!-- Container centré avec max-width -->
      <div class="flex-1 container mx-auto max-w-7xl">
        <%= yield %>
      </div>
      
    </main>
    </div>
  </body>
</html>
